<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="facebook_pixel_customer_registration" instance="WebhiveExtensions\FacebookPixel\Observer\AfterCustomerRegister" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="facebook_pixel_purchase" instance="WebhiveExtensions\FacebookPixel\Observer\Purchase" />
    </event>
    <event name="checkout_cart_product_add_before">
        <observer name="facebook_pixel_addtocart" instance="WebhiveExtensions\FacebookPixel\Observer\Addtocart" />
    </event>
</config>
